* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 250px;
  height: 100%; /*need to expand this, or else the bottom elements wont expand*/
}

.linktree {
  height: 100%;
  width: 100%;
  margin: auto;
/* Dont use pure white */
  color: #DDDDDD;
  background: 
    linear-gradient(rgb(0, 3, 70) 0%, rgba(255, 160, 0, 1) 100%), 
    linear-gradient(60deg, rgb(0, 5, 34) 0%, rgb(0, 255, 229) 100%), 
    radial-gradient(100% 165% at 100% 100%, rgb(255, 0, 168) 0%, rgb(0, 255, 120) 100%), 
    radial-gradient(100% 150% at 0% 0%, rgb(255, 245, 0) 0%, rgb(81, 213, 0) 100%);
  background-blend-mode: overlay, soft-light, difference, normal;
}

/* Replace heading with logo */
h1 {
/*   background-color: purple; */
  width: 200px;
  padding: 0px;
  padding-top:50px;
/*   border: 10px solid blue; */
  margin-top:0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
}

.description {
/*   background-color: red; */
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px auto;
/*   border: 10px solid blue; */
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  min-width: 250px;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}

.link-button-anchor:link,
.link-button-anchor:visited,
.link-button-anchor:hover,
.link-button-anchor:active {
  text-decoration: none;
  color: #151515;
}

.link-button {
  /* background-color: #DDDDDD; */
  
  backdrop-filter: blur(19px) saturate(168%);
  -webkit-backdrop-filter: blur(19px) saturate(168%);
  background-color: rgba(255, 255, 255, 0.655);
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  
  /* color: #010d13; */

  padding: 15px;
  margin: 20px 50px;
  border-radius: 10px;
  text-align: center;
}

